*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

header{
    height: 100px;
    background-color: rgb(44, 174, 255);
    background-image: url("../img/pattern.png");
    background-size: 25%;
    background-repeat: repeat-x;
    position: relative;
}

figure{
    width: 200px;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    
}

h1{
    font-size: 50px;
}

article{
    margin-left: 10px;
    margin-right: 10px;
}

.bluetext{
    color: rgb(0, 119, 255);
}

strong{
    color: lightgrey;
}

.greytext{
    color: lightgray;
}

.highlightme { background-color:#FFFF00; }
p { background-color:#FFFFFF; }

ul{
    margin-left: 1em;
}