*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

header{
    height: 100px;
    background-color: rgb(44, 174, 255);
    background-image: url("../img/pattern.png");
    background-size: 25%;
    background-repeat: repeat-x;
    position: relative;
}

figure{
    width: 200px;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    
}

h1{
    font-size: 50px;
    margin-left: 10px;
}

.testogrigio{
    color: lightgray;
    font-weight: bold;
    margin-left: 10px;
}

.bluetext{
    color: rgb(6, 164, 255);
    margin-left: 10px;
}

.greytext{
    color: lightgray;
    margin-left: 10px;
}