*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

header{
    height: 100px;
    background-color: rgb(44, 174, 255);
    background-image: url("../img/pattern.png");
    background-size: 25%;
    background-repeat: repeat-x;
    position: relative;
}

figure{
    width: 200px;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
    
}

h1{
    font-size: 50px;
}

.bluetext{
    color: rgb(0, 119, 255);
}

strong{
    color: rgb(148, 148, 148);
}

.greytext{
    color: lightgray;
}

.highlightme { background-color:#FFFF00; }
p { background-color:#FFFFFF; }

ul{
    margin-left: 1em;
}

table{
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

thead{
    background-color: rgb(44, 174, 255);
    color: white;
}

td{
    width: calc(100% / 3);
}

.dispari{
    background-color: lightblue;
}

footer{
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
}

.correlatone{
    background-repeat: no-repeat;
    background-image: url("../img/monitor.jpg");
    height: 200px;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 24px;
}

.correlatwo{
    background-repeat: no-repeat;
    background-image: url("../img/graph.jpg");
    height: 200px;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 24px;
}

main{
    margin-left: 25%;
    margin-right: 25%;
}